on:
  workflow_call:
    inputs:
      runner_name:
        required: true
        type: string
      runner_arch:
        required: true
        type: string
      flatpak_name:
        required: true
        type: string
      flatpak_id:
        required: true
        type: string
      branch:
        default: master
        required: false
        type: string
jobs:
  build:
    name: ${{ inputs.flatpak_name }} ${{ inputs.runner_arch }} build-bundle
    runs-on: ${{ inputs.runner_name }}
    steps:
      - name: cleanup
        run: |
          sudo rm -rf \
            /usr/share/dotnet \
            /usr/local/share/dotnet \
            /opt/hostedtoolcache/dotnet \
            /usr/local/lib/android \
            /usr/local/share/android \
            /usr/local/android-sdk \
            /opt/android \
            /opt/ghc \
            /usr/local/.ghcup \
            /opt/hostedtoolcache/CodeQL \
            /opt/hostedtoolcache/CodeQL* \
            /usr/local/lib/codeql \
            /opt/codeql
      - uses: actions/checkout@v6
      - name: deps
        run: |
          sudo apt update
          sudo apt install -y linux-modules-extra-$(uname -r)
          git clone https://github.com/${{ github.repository_owner }}/${{ inputs.flatpak_id }}
          sudo podman pull ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-25.08
      - name: zram
        run: |
          sudo modprobe zram
          dev=$(sudo zramctl --find --algorithm zstd --size 32G)
          sudo mkswap $dev
          sudo swapon --priority 100 $dev
      - name: build
        run: |
          sudo podman run --privileged --env=runner_arch=${{ inputs.runner_arch }} --env=flatpak_name=${{ inputs.flatpak_name }} --env=flatpak_id=${{ inputs.flatpak_id }} --env=branch=${{ inputs.branch }} -v $PWD:/build:z -w /build ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-25.08 bash flatpak-build-helper.sh
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.flatpak_name }}-${{ inputs.runner_arch }}
          path: ${{ inputs.flatpak_name }}-${{ inputs.runner_arch }}.flatpak
