on:
  workflow_dispatch: {}
jobs:
  checkstate:
    uses: ./.github/workflows/checkstate.yml
  build:
    if: ${{ needs.checkstate.outputs.to_build != '[]' }}
    needs: checkstate
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.checkstate.outputs.to_build) }}
    name: ${{ matrix.name }} ${{ matrix.arch }}
    uses: ./.github/workflows/build.yml
    with:
      flatpak_name: ${{ matrix.name }}
      flatpak_id: ${{ matrix.id }}
      type: ${{ matrix.type }}
      branch: ${{ matrix.branch }}
      repo_url: ${{ matrix.repo_url }}
      runner_name: ${{ matrix.runner }}
      runner_arch: ${{ matrix.arch }}
  push-oci:
    needs:
      - checkstate
      - build
    permissions:
      packages: write
    secrets: inherit
    if: ${{ needs.checkstate.outputs.to_push != '[]' }}
    strategy:
      matrix:
        include: ${{ fromJSON(needs.checkstate.outputs.to_push) }}
    uses: ./.github/workflows/push-oci.yml
    with:
      flatpak_name: ${{ matrix.name }}
      flatpak_id: ${{ matrix.id }}
      commit: ${{ matrix.commit }}
      branch: ${{ matrix.branch }}
      type: ${{ matrix.type }}
  indexer:
    needs: push-oci
    permissions:
      pages: write
      id-token: write
      packages: read
    uses: ./.github/workflows/indexer.yml
