on:
  workflow_dispatch: {}
jobs:
  build-multiarch:
    strategy:
      fail-fast: false
      matrix:
        flatpak:
          - name: fish
            id: org.freedesktop.Sdk.Extension.fish
            type: runtime
            branch: 25.08
          - name: gitui
            id: io.github.gitui_org.gitui
          - name: brightnessctl
            id: io.github.hummer12007.brightnessctl
          - name: gh
            id: com.github.cli
          - name: codex
            id: com.openai.codex
        runner:
          - name: ubuntu-24.04
            arch: x86_64
          - name: ubuntu-24.04-arm
            arch: aarch64
    name: ${{ matrix.flatpak.name }} ${{ matrix.runner.arch }}
    uses: ./.github/workflows/flatpak-build-helper.yml
    with:
      runner_name: ${{ matrix.runner.name }}
      runner_arch: ${{ matrix.runner.arch }}
      flatpak_name: ${{ matrix.flatpak.name }}
      flatpak_id: ${{ matrix.flatpak.id }}
      type: ${{ matrix.flatpak.type || 'app' }}
      branch: ${{ matrix.flatpak.branch || 'master' }}
  build-x86_64:
    strategy:
      matrix:
        flatpak:
          - name: photoshop2021
            id: com.adobe.photoshop2021
          - name: photoshop2022
            id: com.adobe.photoshop2022
          - name: photoshop2023
            id: com.adobe.photoshop2023
    name: ${{ matrix.flatpak.name }} ${{ matrix.runner.arch }}
    uses: ./.github/workflows/flatpak-build-helper.yml
    with:
      runner_name: ubuntu-24.04
      runner_arch: x86_64
      flatpak_name: ${{ matrix.flatpak.name }}
      flatpak_id: ${{ matrix.flatpak.id }}
  push-oci:
    strategy:
      matrix:
        flatpak:
          - name: fish
            id: org.freedesktop.Sdk.Extension.fish
            type: runtime
            branch: 25.08
          - name: gitui
            id: io.github.gitui_org.gitui
          - name: brightnessctl
            id: io.github.hummer12007.brightnessctl
          - name: gh
            id: com.github.cli
          - name: codex
            id: com.openai.codex
          - name: photoshop2021
            id: com.adobe.photoshop2021
          - name: photoshop2022
            id: com.adobe.photoshop2022
          - name: photoshop2023
            id: com.adobe.photoshop2023
    needs: [build-multiarch, build-x86_64]
    permissions:
      packages: write
    secrets: inherit
    uses: ./.github/workflows/push-oci.yml
    with:
      flatpak_name: ${{ matrix.flatpak.name }}
      flatpak_id: ${{ matrix.flatpak.id }}
      type: ${{ matrix.flatpak.type || 'app' }}
      branch: ${{ matrix.flatpak.branch || 'master' }}
  indexer:
    needs: push-oci
    permissions:
      pages: write
      id-token: write
      packages: read
    uses: ./.github/workflows/indexer.yml
