on:
  workflow_call:
    inputs:
      flatpak_name:
        required: true
        type: string
      flatpak_id:
        required: true
        type: string
      commit:
        required: true
        type: string
      branch:
        default: master
        required: false
        type: string
      type:
        default: app
        required: false
        type: string
jobs:
  push-oci:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v4
        with:
          pattern: ${{ inputs.flatpak_name }}-*
          path: artifacts
      - name: push-oci
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          quay_token: ${{ secrets.QUAY_TOKEN }}
          flatpak_name: ${{ inputs.flatpak_name }}
          flatpak_id: ${{ inputs.flatpak_id }}
          commit: ${{ inputs.commit }}
          branch: ${{ inputs.branch }}
          type: ${{ inputs.type }}
        run: scripts/push-oci.sh
